@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.blur-background {
  background: rgba(255, 255, 255, 0.3); /* light glassy background */
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

body {
  @apply bg-[#14141A] min-h-screen;
}

.custom-toast {
  background-color: #2B2B31 !important; 
  color: #fff !important;
  border-left: none !important; 
  border-radius: 8px !important;
  padding: 16px !important;
  font-family: 'Inter', sans-serif;
}

/* Custom body text */
.custom-toast-body {
  font-size: 14px !important;
  color: #e5e7eb !important; 
}